@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url(https://fonts.gstatic.com/s/yanonekaffeesatz/v15/3y9I6aknfjLm_3lMKjiMgmUUYBs04aUXNxt9gW2LIfto9tWZd2GMKHD0VTtI.woff) format('woff');
}

:root {
  --main-color: #EF5258;
  --second-color: #212121;
  --border-radius: 6px;
}

html {
  font-size: 16px;
}

.App {
  width: 70%;
  margin: 0 auto;
}
